.navBar
    display: flex
    width: 100%
    align-items: center
    justify-content: space-between

    .itemsDiv
        display: flex
        gap: 2vw

        .navLink
            text-decoration: none
            color: black
            font-size: 1.5rem
            font-family: 'Archivo'
            font-weight: 600

    .accountDiv
        display: flex
        flex-direction: row
        align-items: center
        gap: 1rem 
        right: 0

        .searchButton
            height: 3vh 

        .accountButton
            font-size: 1rem
